* {
  box-sizing: border-box;
  font-family: $open-sans;
}

body {
  width: 100vw;
  margin: 0 auto;
  max-width: 1440px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: $courses-background;
}
