@import "../../styles/variables";
@import "../../styles/mixins";

.registration {
  @include centerize(60%);
  @include flex-type();
  flex-direction: column;
  margin-top: 20%;
  text-align: center;
  &__form {
    width: 60%;
    background-color: #fff;
    border: 1px solid $registration-border-color;
    padding: 5%;
    @include flex-type();
    flex-direction: column;
    gap: 30px;
  }
  &__btn {
    width: 50%;
  }
}
